#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

img {
  max-width: 500px;
  border-radius: 10px;
}

.article-card {
  border: 0.5px solid rgb(212, 212, 212);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
}

.topics-card {
  border: 0.5px solid rgb(212, 212, 212);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 0.5px solid rgb(212, 212, 212);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d2d2d2;
  cursor: pointer;
  transition: border-color 0.25s;

  box-shadow: 2px 2px 5px grey;
}
button:hover {
  border-color: #dbddfc;
  background-color: #e6e6e6;
}

.header {
  background-color: #646cff;
  color: white;
}

.header h1 {
  color: white;
}

.comment-card {
  border: 0.5px solid rgb(212, 212, 212);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px grey;
}

.logged-in-img {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.comment-icon {
  width: 20px;
  border-radius: 0%;

  padding-right: 10px;
}

.heart-icon {
  width: 20px;
  border-radius: 0%;

  padding-right: 10px;
}

.calendar-icon {
  width: 20px;
  border-radius: 0%;

  padding-right: 10px;
}

.user-icon {
  width: 20px;
  border-radius: 0%;
  padding-right: 10px;
}

.icon-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fire-icon {
  width: 20px;
  border-radius: 0%;
  padding-right: 10px;
}

.icon {
  width: 20px;
  border-radius: 0%;

  padding-right: 10px;
}
